.myButton {
	background-color:burlywood;
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-radius:35px;
	display:inline-block;
	cursor:pointer;
	color:snow;
	font-family:Courier New;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.myButton:hover {
	background-color:sandybrown;
}
.myButton:active {
	position:relative;
	top:1px;
}
.right{
	float:right;
	margin-right:8px;
}
.left{
	float:left;
	margin-left:8px;
}
#box{
	margin-left: 500px;
	margin-top: 150px;
	font-weight: bold;
	font-size: larger;
	text-align: center;
	display: block;
	color: lightseagreen;
	margin-bottom: 300px;
	margin-right: 50px;
}
.submit {
	color: blue;
	background-color: transparent;
	border-color:snow;
	padding: 10px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
}
.title {
	color: blue;
	background-color: transparent;
	border-color: snow;
	padding: 10px 20px;
	margin: 0;
	font-size: 40px;
	border-radius: 30;
}
.img 
{
	width: 50%;
	height: 50%;
	display: inline-block;
}

.datepicker {
	width: 216px;
	height: auto;
	margin: 5px auto 0;
	font: 9pt Arial, sans-serif;
  }